#headpic {
    text-align: right;
}

#newmatch {
    background-color: #B5CFFF;
    padding: 10px;
}

#matches {
    padding: 10px;
}

.match {
    height: 120px;
}

.pic {
    padding: 1px;
    border: 1px solid #AAA;
    width: 75px;
    height: 75px;
}

#title {
    display: inline;
}

.side_a {
    text-align: right;
}

.score_a {
    text-align: center;
}

.score_b {
    text-align: center;
}

.player {
    font-size: 1.4em;
}

.score {
    font-size: 2em;
    vertical-align: top;
}

.metadata {
    text-align: center;
}
