<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
    	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    	{% block extraMeta %}{% endblock %}
    	
		<link rel="stylesheet" href="{{ MEDIA_URL }}css/bp/screen.css" type="text/css" media="screen, projection"/>
		<link rel="stylesheet" href="{{ MEDIA_URL }}css/bp/rtl.css" type="text/css" media="screen, projection"/>
		<link rel="stylesheet" href="{{ MEDIA_URL }}css/bp/print.css" type="text/css" media="print"/>
		<!--[if IE]><link rel="stylesheet" href="{{ MEDIA_URL }}css/ie.css" type="text/css" media="screen, projection"/><![endif]-->
        {% block extraCSS %}{% endblock %}
        
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
        <script type="text/javascript" src="{{ MEDIA_URL }}js/base.js"></script>
        {% block extraJS %}{% endblock %}
        
        <title>{% block baseTitle %}Hello{% endblock %}{% block extraTitle %}{% endblock %}</title>
    </head>

    <body class="fullDoc">
        <div id="fullWidthContainer" class="container">
	        {% block header %}
	        	<h1>שלום</h1>
	        {% endblock %}
	        
	        <div id="content" class="span-24 last">
	        {% block contentArea %}
				<h2>לורם איפסום...</h2>
	        {% endblock %}
	        </div>
	        
	        <div id="footer" class="span-24 last">
	        {% block footer %}
	        	<p>- סוף -</p>
	        {% endblock %}
	        </div>
		</div>
    </body>
</html>
